@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

body{
    margin:0;
    padding:0;
}

* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

/* first section */
.header-section{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color:#F9FAF8;
}
/* nav */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px 180px 0 180px;
}
.nav-list{
    list-style: none;
    display: flex;
    gap:16px;
    font-size:18px; 
    font-weight: 100;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    font-weight: 700;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 180px;
}
.hero-left{
    width: 50%;
}
.hero-right{
    width: 50%;
}
/* hero section */
.hero-left > h2{
    font-size: 48px; 
    font-weight:700; 
    margin: 8px 0;
}
.hero-left > h5{
    margin: 8px 0;
    font-size: 16px;
    font-weight: 100;
    padding-right: 75px;
    color:#E5E7EB;
}
button{
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: .5rem;
    padding:8px 32px;
    font-size:18px;
    color: white;
    margin: 8px 0;
}

.fake-img{
    background-color: darkgray;
    width:100%;
    margin:auto;
    height:250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* second section */
.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.info-title{
    text-align: center;
    margin:36px 0;
    font-size: 36px;
}
.boxholder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:75px;
    margin-bottom: 78px;
}
.tile{
    width:158px;
}
.bluebox{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: .5rem;
}
.infotext{
    margin-top: 8px;
    text-align: center;
}
/* third section */
.quote-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 300px;
}
.quote{
    font-style: italic;
    color:#1F2937;
    font-size: 36px;
    font-weight: 100;
}
.cite{
    align-self: flex-end;
    padding-right:50px;
}
/* forth section */
.calltoaction-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 225px
}
.ctabox{
    background-color: #3882F6;
    height: 150px;
    width: 100%;
    border-radius: .5rem ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ctaleft > h4{  
    font-size: 24px;
    color: white;
}
.ctaleft > p{  
    font-size: 16px;
    color: white;
}

.ctaright > button{
    border:2px solid white;

}
/* fifth section */
.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:#F9FAF8;
    height: 100px;
}